body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #121212;
    color: #fff;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    background-color: rgba(51, 51, 51, 0.8);
    width: 100%;
    padding: 15px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

header h1 {
    color: #fff;
    margin: 0;
    font-size: 1.8em;
}

main {
    margin-top: 70px; /* 確保內容不被 header 遮擋 */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

#watchButton {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 12px rgba(255, 87, 34, 0.5);
    margin: 20px 0;
}

#watchButton:hover {
    background-color: #e64a19;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 87, 34, 0.7);
}

#watchButton:active {
    transform: scale(1);
    box-shadow: 0 4px 8px rgba(255, 87, 34, 0.5);
}

#gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    max-width: 600px;
}

.image-container {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 1em;
}

.page-number {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }

    main {
        margin-top: 80px; /* 縮小 header 的影響 */
    }

    button {
        padding: 10px 20px;
        font-size: 1em;
    }

    #watchButton {
        padding: 10px 20px;
        font-size: 1em;
    }

    .text, .page-number {
        font-size: 0.9em;
    }
}
